/* ---- FilledButton ---- */
@import '/src/styles/resources/';

.button {
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  padding: 10px 16px;
  height: 40px;
  border-radius: 500px;
  background-color: $accent;
  cursor: pointer;
  @include transition;

  &:hover {
    background-color: $text;
    color: $accent;
  }
  &:hover .circle {
    background-color: $accent;
  }
}

.getInTouch {
  display: none;

  @include tablet {
    display: flex;
  }
}

.circle {
  background-color: $text;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  @include transition;
  color: $text;
  @include center-element;

  & svg {
    width: 10px;
    height: 10px;
    transform: rotate(180deg);
  }
}
