/* ---- Menu ---- */
@import '/src/styles/resources/';

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2.5vh 0;
  background-color: rgba(23, 61, 51, 0.25);
  backdrop-filter: blur(2px);
  z-index: 1000;

  &.open {
    display: block;
  }
}

.wrapper {
  height: 95vh;
  width: 100%;
  padding: 24px;

  border-radius: 25px;
  background: rgba(23, 61, 51, 0.75);
  backdrop-filter: blur(12.5px);
  color: $white;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include tablet {
    width: 365px;
    margin-left: auto;
  }
}

.closeBtn {
  background-color: transparent;
  color: $white;
  border-bottom: 1px solid $white;
  display: flex;
  width: 100%;
  margin-bottom: 16px;
  padding-bottom: 5px;
  cursor: pointer;
  @include transition;

  & svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &:hover {
    color: $accent;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: auto;
}

.navLink {
  width: fit-content;
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  letter-spacing: -0.96px;
  cursor: pointer;
  @include transition;

  &:hover {
    color: $accent;
  }

  & svg {
    width: 16px;
    height: 16px;
  }
}
