/* ---- Header ---- */
@import '/src/styles/resources/';

.header {
  padding: 36px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  @include transition;

  @include desktop {
    padding: 24px 0;
  }
}

.scrolled {
  background-color: #ffffff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapperBtn {
  display: flex;
  gap: 12px;
}
