/* ---- Header ---- */
@import '/src/styles/resources/';

.header {
  padding: 36px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  @include transition;

  @include desktop {
    padding: 24px 0;
  }
}

.scrolled {
  background-color: #ffffff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapperBtn {
  display: flex;
  gap: 12px;
}

.getInTouch {
  display: none;
  padding: 10px 16px;
  height: 40px;
  border-radius: 500px;
  background-color: $accent;
  cursor: pointer;
  @include transition;

  @include tablet {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &:hover {
    background-color: $text;
    color: $accent;
  }
  &:hover .circle {
    background-color: $accent;
  }
}

.circle {
  background-color: $text;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  @include transition;
  color: $text;
  @include center-element;

  & svg {
    width: 10px;
    height: 10px;
    transform: rotate(180deg);
  }
}
