/* ---- ContactUS ---- */
@import '/src/styles/resources/';

.section {
  margin-bottom: 36px;

  @include tablet {
    margin-bottom: 100px;
  }

  @include desktop {
    margin-bottom: 120px;
  }
}

.title {
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 120px;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    gap: 51px;
  }
}
