/* ---- Variables ---- */

/* -- Colors -- */
$text: #173d33;
$form-text: #bdbdbd;
$accent: #97d28b;
$bg: #f3f5fa;
$card-bg: #eaedf1;

/* -- Typography -- */

/* -- Media Query Breakpoints -- */
$phone: 480px;
$tablet: 768px;
$desktop: 1280px;

/* -- Transition -- */
$transition-duration: 0.5s;
$transition-timing-function: ease-in-out;
